Jobs Tracking Application/force-app/main/default/flows/Lead_conversion_record_type_to_corresponding_opportunity.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>54.0</apiVersion>
    <decisions>
        <description>Lead record types matches to corresponding Opportunity record types.</description>
        <name>Converting_Lead_Record_Type</name>
        <label>Converting Lead Record Type?</label>
        <locationX>1040</locationX>
        <locationY>335</locationY>
        <defaultConnector>
            <targetReference>Set_Consulting_Opportunity_record_type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Consulting Leads?</defaultConnectorLabel>
        <rules>
            <name>Permanent_Leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0128b00000084IUAAY</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Permanent_Opportunity_record_type</targetReference>
            </connector>
            <label>Permanent Leads?</label>
        </rules>
        <rules>
            <name>Contract_Leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0128b00000084IeAAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract_Opportunity_record_type</targetReference>
            </connector>
            <label>Contract Leads?</label>
        </rules>
        <rules>
            <name>Recruiter_Leads</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.RecordTypeId</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>0128b00000089C5AAI</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Account_RecordType</targetReference>
            </connector>
            <label>Recruiter Leads?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Converting  Lead Recruiting record type into associated opportunity record types.</description>
        <name>Converting_Lead_Recruiting_record_type</name>
        <label>Converting Lead Recruiting record type?</label>
        <locationX>1370</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Permanent_job_fields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Salary_Maximum__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Salary_Minimum__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Insurance__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.PTO__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.X401KPercentage_Match__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Bonus_Percentage__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Permanent_Opportunity_RecordType</targetReference>
            </connector>
            <label>Permanent job fields?</label>
        </rules>
        <rules>
            <name>Contract_job_fields</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Contract_term_in_months__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Hourly_Rate__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Contract_Opportunity_RecordType</targetReference>
            </connector>
            <label>Contract job fields?</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is recruiting company field null or not.?</description>
        <name>Recruiting_Company</name>
        <label>Recruiting Company?</label>
        <locationX>182</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recruting_Company__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.IsConverted</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecruitingCompanyAccount</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <description>Is recruiting company involved in Contracting jobs</description>
        <name>Recruiting_Company_ContractJobs</name>
        <label>Recruiting Company_ContractJobs?</label>
        <locationX>710</locationX>
        <locationY>695</locationY>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_ContractJobs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Recruting_Company__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecruitingCompanyAccount_ContractJobs</targetReference>
            </connector>
            <label>Yes_ContractJobs</label>
        </rules>
    </decisions>
    <description>Converting Lead record types to its corresponding opportunity and account record type.</description>
    <interviewLabel>Lead conversion record type to corresponding opportunity {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Lead conversion record type to corresponding opportunity and account</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Create a account record for recruiting company as account name and Recruiting RecordType.</description>
        <name>RecruitingCompanyAccount</name>
        <label>RecruitingCompanyAccount</label>
        <locationX>50</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Recruting_Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128b00000087EZAAY</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>Create a new record for recruiting company account with recruiter record type from contract jobs</description>
        <name>RecruitingCompanyAccount_ContractJobs</name>
        <label>RecruitingCompanyAccount_ContractJobs</label>
        <locationX>578</locationX>
        <locationY>815</locationY>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>$Record.Recruting_Company__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>	0128b00000087EZAAY</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <description>Set Account client record type for contracting job to corresponding contract lead record type.</description>
        <name>Set_Account_Client_for_contract_job_record_type</name>
        <label>Set Account Client (for contract job)record type</label>
        <locationX>710</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Recruiting_Company_ContractJobs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128b00000087EUAAY</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set account client (for permanent job) record type corresponding to lead record type</description>
        <name>Set_Account_Client_record_type</name>
        <label>Set Account Client record type</label>
        <locationX>182</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Recruiting_Company</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128b00000087EUAAY</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>set the account customer record type for corresponding lead consultant record type.</description>
        <name>Set_Account_Customer_record_type</name>
        <label>Set Account Customer record type</label>
        <locationX>1898</locationX>
        <locationY>575</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128b00000087EeAAI</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update account recordtype to recruiter</description>
        <name>Set_Account_RecordType</name>
        <label>Set Account RecordType</label>
        <locationX>1370</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Set_Contact_Recordtype</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128b00000087EZAAY</stringValue>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set opportunity record type to corresponding lead record type</description>
        <name>Set_Consulting_Opportunity_record_type</name>
        <label>Set Consulting Opportunity record type</label>
        <locationX>1898</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Set_Account_Customer_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128b00000087FIAAY</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update contact recordtype to recruiter</description>
        <name>Set_Contact_Recordtype</name>
        <label>Set Contact Recordtype</label>
        <locationX>1370</locationX>
        <locationY>575</locationY>
        <connector>
            <targetReference>Converting_Lead_Recruiting_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedContactId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128b00000087EoAAI</stringValue>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <recordUpdates>
        <description>Set the opportunity record type to corresponding lead record type.</description>
        <name>Set_Contract_Opportunity_record_type</name>
        <label>Set Contract Opportunity record type</label>
        <locationX>710</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Set_Account_Client_for_contract_job_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128b00000087FDAAY</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>If hourly rate and contract term in month filled is not null then associate it with contract opportunity RecordType</description>
        <name>Set_Contract_Opportunity_RecordType</name>
        <label>Set Contract Opportunity RecordType</label>
        <locationX>1370</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128b00000087FDAAY	</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <description>Update Opportunity record type to corresponding lead record type.</description>
        <name>Set_Permanent_Opportunity_record_type</name>
        <label>Set Permanent Opportunity record type</label>
        <locationX>182</locationX>
        <locationY>455</locationY>
        <connector>
            <targetReference>Set_Account_Client_record_type</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128b00000087F8AAI</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <recordUpdates>
        <name>Set_Permanent_Opportunity_RecordType</name>
        <label>Set Permanent Opportunity RecordType</label>
        <locationX>1106</locationX>
        <locationY>815</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.ConvertedOpportunityId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0128b00000087F8AAI</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordUpdates>
    <start>
        <locationX>914</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Converting_Lead_Record_Type</targetReference>
        </connector>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsConverted</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
